%h1= @user.email
- if @walls.present?
  %p walls list
  - @walls.each do |wall|
    %ul
      = wall_link(wall)
- else
  %p Only you on this app ((
= render 'messages/form'
%ul= render partial: 'messages/message', collection: @messages, as: :message